name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Check out the code
      - uses: actions/checkout@v4

      # 2. Install Node.js (Using v20 to match Firebase requirements)
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # 3. Install Dependencies
      - name: Install Dependencies
        run: npm ci

      # 4. Build the site (Creates the 'dist' folder)
      - name: Build
        run: npm run build

      # 5. Deploy to Firebase
      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}'
          channelId: live
          projectId: rishi-guptha